---
title: Social Media
---

%section.cloud-cluster
  - (1..4).each do |clouds_index|
    %div{class: "clouds clouds-#{clouds_index}"}
      - (1..6).each do |index|
        %img{class: "cloud cloud-#{index}", src: 'images/cloud.png'}

%section.office
  %section.media
    %ul.heads
      - (1..59).each do |index|
        %li{class: "head head-#{index}"}
          %img{src: "images/heads/#{index}.png"}

  %img{src: 'images/desk.png', class: 'desk'}
  %img{src: 'images/chair.png', class: 'chair'}
  %img{src: 'images/rug.png', class: 'rug'}

%section.data-center
  - (1..20).each do |index|
    %ul{class: "heads rows row-#{index}"}
      - (1..59).each do |head_index|
        %li{class: "head head-#{head_index}"}
          %img{src: "images/heads/#{1 + rand(59)}.png"}
